body {
  font: {
    family: "Fredoka One", sans-serif;
    /*family: "Epilogue", sans-serif;*/
    size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Epilogue", sans-serif;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  li {
    a {
      text-decoration: none;
    }
  }
}
