/*$maxMobile: "(max-width: 776px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";

$minLarge: "(min-width: 1200px)";*/

/*$main-color: #3cb371;
$main-color-alt: #da70d6;
$main-background-color: #f4a460;
$color: #c7cf00;
$main-text-color: #626262;*/

$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";

$main-text-color: #f3274c;
$main-background-btn: #ffd40d;
